@model IEnumerable<DatabasLab1.Models.RestaurantModel>

@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<p>
    <a asp-action="AddRestaurant">Add restaurant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRestaurant", new { RestaurantId = item.RestaurantId }) |
                @Html.ActionLink("Delete", "DeleteRestaurant", new { RestaurantId = item.RestaurantId })
            </td>
        </tr>
}
    </tbody>
</table>

<p>Antal restauranger (ViewData): @ViewData["RestaurantCount"]</p>