@model IEnumerable<DatabasLab1.Models.ReviewViewModel>

@{
    ViewData["Title"] = "Reviews";
}

<h1>Reviews</h1>

<table class="table">
    <thead>
        <tr>
            <th>Review ID</th>
            <th>User</th>
            <th>Restaurant</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ReviewId</td>
            <td>@item.UserName</td>
            <td>@item.RestaurantName</td>
            <td>@item.Rating</td>
			<td>
				@Html.ActionLink("Edit", "EditReview", new { reviewId = item.ReviewId }) |
				@Html.ActionLink("Delete", "DeleteReview", new { reviewId = item.ReviewId })
			</td>
        </tr>
    }
    </tbody>
</table>
